Year
     Default :    1
     Replaces:    Year in grrmud.ini
     Description: The current year.
Day
     Default :    1
     Replaces:    Day in grrmud.ini
     Description: The current day of the year.
Hour
     Default :    1
     Replaces:    Hour in grrmud.ini
     Description: The current hour of the day, 24hr format.
optUsec
     Default :    200000
     Replaces:    OPT_USEC in grrmud.ini
     Description: The length of time the game pauses in each iteration of the
                  game loop, in micro seconds.
maxDescripitors
     Default :    250
     Replaces:    MAX_DESCRIPTORS_AVAILABLE in grrmud.ini
     Description: The maximum number of simultanious connections to the server
                  allowed.
port
     Default :    4000
     Replaces:    DFLT_PORT in grrmud.ini
     Description: The port the server listens on for incoming connections.
bootLoadModifier
     Default :    300
     Replaces:    Boot_Load_Modifier in grrmud.ini
     Description: Affects the chances that objects have of loading when the
                  server boots.  The default is 3 times as likely, 50 would be 
                  half as likely, 100 would be unchanged.
regularLoadModifier
     Default :    100
     Replaces:    Regular_Load_Modifier in grrmud.ini
     Description: Affects the chances that objects have of loading while the
                  server is running.  The default is 3 times as likely, 50 
                  would be half as likely, 100 would be unchanged.
experienceDivisor
     Default :    100
     Replaces:    EXP_DIVISOR in grrmud.ini
     Description: Determines the amount of experience given for a kill. The
                  creature's total experience, divided by this value yields the
                  amount of experience a player gets for this kill.
maxPlayers
     Default :    100
     Replaces:    MAX_PLAYERS in grrmud.ini
     Description: Maximum number of simultenious players.
hungerMax
     Default :    100
     Replaces:    HUNGER_MAX in const.h
     Description: The hungriest a player can get.
thirstMax
     Default :    75
     Replaces:    THIRST_MAX in const.h
     Description: The thirstiest a player can get.
druggedMax
     Default :    25
     Replaces:    DRUGGED_MAX in const.h
     Description: The most drugged a player can be.
sacPointsNeeded
     Default :    25
     Replaces:    SAC_POINTS_NEEDED in const.h
     Description: The number of sacrifice points needed to remort.
outOfTownModifier
     Default :    1.25
     Replaces:    OUT_OF_TOWN_MODIFIER in const.h
     Description: A multiplier NPC shopkeepers outside of their zone use to
                  adjust their selling prices.
commerceSkillBuyEffect
     Default :    0.86
     Replaces:    COMMERCE_SKILL_EFFECT_BUY in const.h
     Description: A multiplier used to set the price players with the commerce
                  skill buy items at.
commerceSkillSellEffect
     Default :    1.05
     Replaces:    COMMERCE_SKILL_EFFECT_SELL in const.h
     Description: A multiplier used to set the price players with the commerce
                  skill may sell items at.
recallRoom
     Default :    1
     Replaces:    RECALL_ROOM in const.h
     Description: The room the recall spell transports players too.
tammuzRoom
     Default :    2923
     Replaces:    TAMMUZ_ROOM in const.h
     Description: The room the tammuz spell transports players too.
newbieRoom
     Default :    6
     Replaces:    NEWBIE_ROOM in const.h
     Description: The room new players start in.
loginRoom
     Default :    1
     Replaces:    LOGIN_ROOM in const.h
     Description: The room players start in if they are below level 7, or
                  if they have not logged in since the server booted.
donateRoom
     Default :    7
     Replaces:    DONATE_ROOM in const.h
     Description: The room where objects that have been donated are placed.
newbieBagObject
     Default :    358
     Replaces:    NEWBIE_BAG_NUM in const.h
     Description: The bag of equipmet new players are given.
corpseObject
     Default :    3
     Replaces:    CORPSE_OBJECT in const.h
     Description: The object corpses are constructed from.
goldCoinsObject
     Default :    5
     Replaces:    GOLD_OBJECT in const.h
     Description: The object piles of gold coins are constructed from.
pcSkinObject
     Default :    8
     Replaces:    PC_SKIN_OBJECT in const.h
     Description: The object piles of gold coins are constructed from.
meatObject
     Default :    91
     Replaces:    MEAT_OBJ_NUMBER in const.h
     Description: The object players get when they butcher something.
createFoodObject1
     Default :    94
     Replaces:    CREATE_FOOD_NUMBER in const.h
     Description: One of the objects created by hero's feast, and the object
                  created by create food.
createFoodObject2
     Default :    68
     Replaces:    CREATE_FOOD2_NUMBER in const.h
     Description: One of the objects created by hero's feast
createFoodObject3
     Default :    13
     Replaces:    CREATE_FOOD3_NUMBER in const.h
     Description: One of the objects created by hero's feast
createFoodObject4
     Default :    103
     Replaces:    CREATE_FOOD4_NUMBER in const.h
     Description: One of the objects created by hero's feast
createLightObject
     Default :    345
     Replaces:    CREATE_LIGHT_NUMBER in const.h
     Description: The object created by create light.
earthGolemMob
     Default :    37
     Replaces:    EARTH_GOLEM_NUMBER in const.h
     Description: An earth golem, created by create golem.
waterGolemMob
     Default :    190
     Replaces:    WATER_GOLEM_NUMBER in const.h
     Description: A water golem, created by create golem.
airGolemMob
     Default :    191
     Replaces:    AIR_GOLEM_NUMBER in const.h
     Description: An air golem, created by create golem.
fireGolemMob
     Default :    193
     Replaces:    FIRE_GOLEM_NUMBER in const.h
     Description: A fire golem, created by create golem.
minionMob1
     Default :    38
     Replaces:    MINION_ONE_NUMBER in const.h
     Description: One of the mobs created by summon minion.
minionMob2
     Default :    39
     Replaces:    MINION_TWO_NUMBER in const.h
     Description: One of the mobs created by summon minion.
minionMob3
     Default :    41
     Replaces:    MINION_THREE_NUMBER in const.h
     Description: One of the mobs created by summon minion.
minionMob4
     Default :    42
     Replaces:    MINION_FOUR_NUMBER in const.h
     Description: One of the mobs created by summon minion.
walkingCorpseMob
     Default :    57
     Replaces:    RAISED_CORPSE_NUM in const.h
     Description: The mob created by raise dead.
illusionMob
     Default :    55
     Replaces:    ILLUSION_NUMBER in const.h
     Description: The mob created by illusion and mirror image.
gateDoor
     Default :    44
     Replaces:    GATE_DOOR_NUM in const.h
     Description: The door created by gate and portal.
goldPerLb
     Default :    1000
     Replaces:    GOLD_PER_LB in const.h
     Description: The number of gold coins in 1lb of coins.
newTeleport
     Default :    false
     Replaces:    -t command line option
     Description: Allows players to use the telport spell to teleport directly
                  to another player.
newSummon
     Default :    false
     Replaces:    -s command line option
     Description: Allows players to summon mobs.
maxRedundantDonates
     Default :    5
     Replaces:    MAX_REDUNDANT_DONATES in const.h
     Description: Determines how many of any object can be in the donation
                  room before the donate command discards new donations of
                  said object.
